{% extends "layout_with_menu.html" %}
{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Item Description</h3>
            </div>

            <form class="form-group" method="post" name="item_edit_desc">
                {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
                {{ form.hidden_tag() }}
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-sm-3" style="text-align:left;" for="item_id">Item ID</label>
                        <span class="form-control-static" id="item_id">{{ form.item_id.data }}</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" style="text-align:left;" for="item_name">Item Name</label>
                        <span class="form-control-static" id="item_name">{{ form.item_name.data }}</span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label> {{ form.description(id="description", class="form-control", size=20) }}
                        {% for error in form.description.errors %}
                            <span style="color: red;">[{{ error }}]</span><br/>
                        {% endfor %}
                    </div>

                    <br/>
                    {{ form.submit(class="btn btn-lg btn-primary") }}
                    <a href="{{ url_for('get_item') }}?id={{ form.item_id.data }}">Cancel</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}