{% extends "layout_with_menu.html" %}
{% block body %}
    <div class="container">
    <div class="panel panel-primary">
     <div class="panel-heading">
            <h3 class="panel-title">User Report</h3>
     </div>

            <table class="table table-striped custab">
              <thead>

              <tr>
                <th>Username</th>
                <th>Listed</th>
                <th>Sold</th>
                <th>Purchased</th>
                <th>Rated</th>
              </tr>
              </thead>
                <tr>
                <th>thinkmcfly</th>
                <th>12</th>
                <th>2</th>
                <th>4</th>
                <th>4</th>
              </tr>
                <tr>
                <th>sistaSuzy</th>
                <th>4</th>
                <th>3</th>
                <th>1</th>
                <th>2</th>
              </tr>
            <!--

            -->
            </table>



    </div>
     <a href="index">Done</a>
    </div>

{% endblock %}